streamlit
pandas
numpy
scikit-learn
spacy
textblob
matplotlib
wordcloud
seaborn
scipy
matplotlib
beautifulsoup4
requests
lxml
plotly
nltk
joblib
tqdm
regex
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
imbalanced-learn